:root {
  --first-text-color: #212121;
  --first-background-color: #ffffff;
  --second-background-color: #2f303a;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}

body {
  background-color: var(--first-background-color);
  color: var(--first-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /*outline: 2px solid red;*/
}

/*------------------HEADER-------------------*/

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
.header-connect {
  margin-left: auto;
}
.logo-link {
  font-family: Raleway;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--accent-color);
  text-decoration: none;
  margin-right: 93px;
}
.header span {
  color: var(--first-text-color);
}
.site-nav,
.contacts-header {
  display: flex;
}
.site-nav .link,
.contacts-header .link,
.contacts-footer .link {
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contacts-header .link,
.contacts-footer .link {
  color: var(--secondary-text-color);
}
.site-nav .link-item {
  margin-right: 50px;
}
.site-nav .link-item:last-child {
  margin-right: 0;
}
.contacts-item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link:hover,
.contacts-header .link:hover,
.contacts-footer .link:hover,
.site-nav .link:focus,
.contacts-header .link:focus,
.contacts-footer .link:focus {
  color: var(--accent-color);
}
.contacts-header a:hover,
.contacts-footer a:hover,
.contacts-header a:focus,
.contacts-footer a:focus {
  color: var(--accent-color);
}

/*------------------HERO------------------*/

.hero {
  color: var(--first-background-color);
  background-color: var(--second-background-color);
  text-align: center;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  align-items: center;
  padding: 200px 452px 30px 452px;
}
.hero .button {
  /*font-family: inherit;*/
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--first-background-color);
  background-color: var(--accent-color);
  margin-bottom: 210px;
}
.filter .button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  min-width: 130px;
}
.filter {
  /*padding-top: 100px;*/
  display: flex;
  justify-content: space-around;
  margin-right: 517px;
  margin-left: 516px;
  margin-bottom: 50px;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
/*.portfolio {
  padding-bottom: 94px;
}*/
.hero .button:hover,
.hero .button:focus,
.filter .button:hover,
.filter .button:focus {
  color: var(--first-background-color);
  background-color: var(--accent-color);
}

/*----------------ABOUT----------------*/

.section-about,
.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  text-align: center;
  margin-bottom: 50px;
}
.work-img {
  display: flex;
}
.img-item:not(:last-child) {
  margin-right: 30px;
}

/*----------------FEATURES---------------*/

.features-title {
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.team-title,
.portfolio-title {
  color: var(--first-text-color);
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  margin-bottom: 10px;
}
.team-img {
  margin-bottom: 30px;
}
.team {
  display: flex;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.features {
  padding-top: 94px;
  /*padding-bottom: 94px;*/
  display: flex;
  justify-content: space-between;
}
.features-text,
.team-text,
.portfolio-text {
  color: var(--secondary-text-color);
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
}
.team-text {
  font-size: 16px;
  line-height: calc(19 / 16);
  margin-bottom: 30px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
}
.portfolio {
  display: flex;
  margin-right: -30px;
  flex-wrap: wrap;
  /*margin-bottom: -30px;*/
}
.portfolio-item {
  width: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*--------------------FOOTER-----------------*/

.footer {
  background-color: var(--second-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.list {
  list-style: none;
}
.address,
.item {
  color: var(--first-background-color);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.item {
  color: rgba(255, 255, 255, 0.6);
}
.footer span {
  color: var(--first-background-color);
}
.contacts-footer {
  margin-top: 20px;
}
